.in-kind-docs-intro.lead,
.in-kind-docs-agreement,
.in-kind-docs-annex,
.in-kind-docs-processes {
  border-bottom: 1px solid #ccc;
  display: block !important;
  margin-bottom: 20px;
  overflow: auto;
}

.in-kind-docs-intro.lead,
.in-kind-docs-agreement {
  padding-bottom: 20px;
}

.in-kind-docs-annex {
  padding-bottom: 20px;
}

.in-kind-docs-annex-footer {
  clear: left;
  font-size: 14px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.in-kind-docs-agreement .views-field-title,
.in-kind-docs-annex .views-field-title {
  padding-top: 5px;
}

.in-kind-docs-agreement .in-kind-doc-title,
.in-kind-docs-annex .in-kind-doc-title {
  font-size: 1.5em;
}

.in-kind-docs-agreement h3,
.in-kind-docs-annex h3,
.in-kind-docs-processes h3,
.in-kind-docs-templates h3 {
  padding-bottom: 5px;
  text-transform: none;
}

.in-kind-doc-large-thumb,
.in-kind-doc-small-thumb {
  float: left;
  margin-right: 15px;
}

.in-kind-doc-large-thumb img,
.in-kind-doc-small-thumb img {
  opacity: 0.7;
  border: 1px solid;
}

.in-kind-doc-large-thumb img:hover,
.in-kind-doc-small-thumb img:hover {
  opacity: 1;
}

.in-kind-docs-metadata {
  color: #888;
  font-size: 10px;
  text-transform: uppercase;
}

section.in-kind-docs-processes .col-1,
section.in-kind-docs-processes .col-2,
section.in-kind-docs-processes .col-3,
section.in-kind-docs-templates .col-1,
section.in-kind-docs-templates .col-2,
section.in-kind-docs-templates .col-3 {
  float: left;
  height: 110px;
  width: 47%;
  margin-bottom: 20px;
}

section.in-kind-docs-processes .col-1,
section.in-kind-docs-templates .col-1 {
  margin-right: 30px;
}

.in-kind-docs-conduct {
  float: left;
  margin: 15px 0;
}
