.no-front-events,
.front-download {
  @include span-columns(6 of 12);
  margin-bottom: 20px;

  h3 {
    font-size: 18px;
    color: $blue;
    text-transform: capitalize;
  }

  ul {
  	margin-left: 10px;
  	margin-bottom: 7px;
  }

  p {
  	margin-bottom: 5px;
  	color: #000;
  	font-size: 11px;
  }
}

.front-download {
	@include omega();

	a {
		margin-right: 5px;
		max-width: 390px;
		display: block;
		float: left;
		word-wrap: break-word;
		margin-bottom: 10px;
	}

	small {
		line-height: 22px;
		font-size: 12px;
		float: left;
	}

	.item {
		overflow: hidden;
	}
}

.no-front-events,
.front-download {
	position: relative;

	&:after {
	  height: 2px;
	  width: auto;
	  overflow: hidden;
	  background: #0095cd;
	  display: block;
	  content: "";
	  margin-top: 11px;
	  position: absolute;
	  left: 0px;
	  right: 0;
	  top: 0;
	  z-index: 0;
	}

	.front-download {

		&:after {
			display: none;
			content: none;
		}
	}

	// Title
	h3 {
	  color: $blue;
	  text-transform: capitalize;
	  background: $white;
	  padding-right: 5px;
	  z-index: 10;
	  position: relative;
	  display: inline-block;
	  font-size: 14px;
	}

	.items,
	.front-download {
		width: 100%;

		h3 {
			font-size: 18px;
			margin-bottom: 5px;
			margin-top: 10px;
		}
	}
}
