/**
 * Footer.
 */
#footer {
  background: $blue;
  color: #99b1ba;
  font-size: 11px;
  line-height: 18px;

  .no-contact {
    color: $white;

    .contact-image {
      display: none;
    }
  }
}

#footer h3 {
  color: #fff;
  font-family: "TitilliumTextBold",helvetica,sans-serif;
  font-size: 16px;
  padding: 0;
  text-transform: none;
}

#footer .wrap {
  padding: 20px 0;
  border-bottom: 1px solid $white-footer;
}

#footer a, #footer p {
  color: $white;
}

/**
 * Footer links.
 */
.footer-links {
  background: $blue;
}

.footer-links section {
  float: left;
  margin-right: 20px;
  @include span-columns(3 of 12);
}

.footer-links section:nth-child(4) {
  margin: 0;

  p {
    display: none;
  }

  h3:nth-child(3) {
    display: none;
  }
}

.footer-links nav {
  margin-bottom: 16px;
}

.footer-links nav:last-child {

}

.footer-links .career {
  background: rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
}

.footer-links .more {
  margin-top: 10px;
}

.footer-links .more a {
  color: #ff8700;
  font-family: "TitilliumTextBold",helvetica,sans-serif;
  text-transform: uppercase;
}

/**
 * Footer closure.
 */
.footer-closure {
  padding: 35px 0 40px;
}

#footer .footer-closure .wrap {
  background: url(../images/logo-footer.png) top left no-repeat;
  min-height: 54px;
  border-bottom: 0px;
  padding: 0px;
}

.footer-closure p {
  float: left;
  margin: 16px 0 0 140px;
}

.footer-closure .menu-footer {
  float: left;
  margin: 16px 0 0 30px;
}

.footer-closure .menu-footer li {
  border-left: 1px solid $white;
  float: left;
  margin-left: 8px;
  padding-left: 8px;
}

.footer-closure .menu-footer li:first-child {
  border: 0;
  margin: 0;
  padding: 0;
}

.footer-closure .menu-social {
  float: right;
  margin-top: 10px;
}

.footer-closure .menu-social li {
  float: left;
  margin-left: 6px;
}

.footer-closure .menu-social li a {
  background: url(../images/social-icons.png) 0 0 no-repeat;
  display: block;
  float: left;
  height: 24px;
  text-indent: -9999px;
  width: 24px;
}

.footer-closure .menu-social li.follow-us-on-twitter a {
  background-position: 0 0;
}

.footer-closure .menu-social li.join-us-on-facebook a {
  background-position: -34px 0;
}

.footer-closure .menu-social li.connect-with-us-on-linkedin a {
  background-position: -68px 0;
}

.footer-closure .menu-social li.find-press-releases-at-cisionwire a {
  background-position: -102px 0;
}

.footer-closure .menu-social li.subscribe-to-our-rss-feeds a {
  background-position: -136px 0;
}

.footer-links section.main-menu {
  width: 100%;
}
