/**
 * Header.
 */
#header {
  background: $blue;
  height: 175px;

  .front & {
    background: url(../graphics/top-header.png) $blue no-repeat bottom center;
    height: 350px;
  }
}

#header h1 {
  float: left;
  margin: 0;
  text-indent: -9999px;
  margin-top: 12px;
}

#header h1 a {
  background: url(../graphics/ess-logo.png) 0 0 no-repeat;
  display: block;
  height: 79px;
  width: 143px;
}

#header form {
  float: right;
  margin-top: 70px;
}

/**
 * Secondary menu
 */

#header .menu-secondary-menu {
  margin-top: 75px;
  margin-left: 10px;

  a {
    color: $white;
    margin: 0px;
    text-transform: capitalize;

    &:hover {
      text-decoration: underline;
      color: $white;
    }
  }

  li:last-child {

    a {
      margin-right: 0px;
    }
  }
}

/**
 * Main menu.
 */
#navigation {
  position: absolute;
  top: 110px;
  left: 0;
  right: 0;

  .logged-in & {
    top: 150px;
  }

  .logged-in.admin-menu & {
    top: 130px;
  }

  .sf-js-enabled {
    display: table;
    width: 100%;

    &:after,
    &:before {
      content: none;
    }

    .sf-js-enabled {
      width: auto;

      &:after,
      &:before {
        content: "";
      }
    }
  }
}

#navigation nav {
  clear: both;
}

#navigation nav li {
  border-right: 1px solid $blue;
  display: table-cell;
  position: relative;
}

#navigation nav li a {
  color: $white;
  display: block;
  float: left;
  font-family: "TitilliumTextBold", helvetica, sans-serif;
  font-size: 13px;
  padding: 12px 0;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  background: $dark-blue;
  letter-spacing: 0px;
  width: 100%;
  text-align: center;
}

#navigation nav li a:hover,
#navigation nav li a.active-trail,
#navigation nav li.hover a {
  background-color: $white;
  text-shadow: none;
  position: relative;
  z-index: 100;
  color: $dark-blue;
}

#navigation nav li li {
  display: block;

  a {
    text-align: left;
  }
}

#navigation nav li.expanded span {
  background: transparent url(../images/nav-dropdown.png) center right no-repeat;
  display: block;
  padding-right: 12px;
}

/**
 * Search form.
 */
#search-block-form {
  background: url(../graphics/search.png) no-repeat 0 2px;
  opacity: 0.4;
  padding-left: 21px;
}

#search-block-form:hover {
  opacity: 1;
}

#search-block-form input {
  -moz-transition: width 0s ease-in-out 0s;
  -webkit-transition: width 0s ease-in-out 0s;
  background: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  margin: 0;
  padding: 0;
}

#search-block-form input[type=search] {
  -moz-transition: width 0s ease-in-out 0s;
  -webkit-transition: width 0s ease-in-out 0s;
  border-bottom: 1px solid $white;
  color: $white;
  font-family: "TitilliumTextMedium", helvetica, sans-serif;
  font-size: 12px;
  height: 20px;
  text-transform: uppercase;
  vertical-align: middle;
  width: 210px;
}

#search-block-form input[type=search]:focus {
  text-transform: none;
  width: 230px;
}

#search-block-form input[type=submit] {
  background:  url(../graphics/search.png) no-repeat 0 0;
  display: none;
  height: 15px;
  margin-bottom: 8px;
  margin-left:6px;
  text-indent: -9999px;
  width: 15px;
}
