.no-articles {
  @include row();
  float: left;
  width: 100%;
  position: relative;
  margin: 10px 0;

  &#news {
    margin-top: 0;
  }

  &:after {
    height: 2px;
    width: auto;
    overflow: hidden;
    background: #0095cd;
    display: block;
    content: "";
    margin-top: 11px;
    position: absolute;
    left: 0px;
    right: 0;
    top: 0;
    z-index: 0;
  }

  .articles {
    margin: 5px 0 0px 0;
    overflow: hidden;

    figure {
      margin: 0px;
    }
  }

  .item {
    @include span-columns(3 of 12);
    border-bottom: 0px;

    a {
      display: block;
      overflow: hidden;
    }

    h2 {
      display: block;

       a {
        display: inline;
      }
    }

    &.no-image {
      h2 {
        display: block;
        margin-top: 160px;
      }

      p.more {
        margin-bottom: 10px;
      }
    }
  }

  img {
    margin-bottom: 10px;
    max-width: none;
    width: 100%;
    height: auto;
  }

  // Title
  h3 {
    color: #0095cd;
    text-transform: capitalize;
    background: white;
    position: relative;
    z-index: 100;
    display: inline-block;
    padding-right: 5px;
    font-size: 14px;
  }
}

.no-front-articles {
  overflow: hidden;
  width: auto;

  .item {
    overflow: hidden;
  }
}

.kicker-field {
  display: inline;
  margin: 0px;
  font-size: 16px;
  margin-right: 5px;
  line-height: 22px;
  color: #444;
  font-family: "TitilliumTextBold", helvetica, sans-serif;
}

.kicker-field-small {
  line-height: 14px;
  margin-right: 2px;
}

.front .featured-article {

  .featured-image {
    float: right;
    margin: 0 0 0 20px;
  }

  .image {
    overflow: hidden;
    width: 340px;
    display: block;

    img {
      max-width: none;
      height: 100%;
      width: auto;
    }
  }

  h2 {
    margin-top: -2px;
  }

  article.item {
    border-bottom: 0px;
    padding-bottom: 0px;
    color: #000;
    overflow: hidden;
    position: relative;

    p.body {
      color: #333;
    }

    .more {
      float: right;
      bottom: 1px;
      position: absolute;
      left: 310px;
      margin-bottom: 0px;
    }

    p.lead {
      font-size: 16px !important;
      line-height: 22px;

      &.more {
        font-size: 13px;
        line-height: 19px;
      }
    }
  }
}

.not-front {

  .featured-article {

    article.item {
      margin-bottom: 40px !important;
      position: relative;
    }

    .more {
      float: right;
      width: 62px;

      a {
        position: absolute;
        bottom: 16px;
      }
    }
  }
}

.articles {

  .more {
    float: right;
  }
}

section#main .body {
  margin-top: 20px;
}

.article .field-image {
  margin-bottom: 20px;

  img {
    width: 100%;
  }
}

.downloads {
  float: left;
  width: 100%;
}

.article .downloads {
  max-width: 520px;
}

section#main {

  section.boxes-social-sidebar {
  float: right;
  margin-top: -2px;
  margin-bottom: 30px;}

  .social_sidebar_label {
    text-align: right;}

}

section.boxes-social-sidebar {
  margin-top: 160px;
}

.field-share {
  float: right;
  margin-bottom: 15px;
}

.field-share h5 {
  margin-left: 2px;
}

.social_sidebar_label {
  margin-bottom: 8px;
}

.addthis_button_facebook,
.addthis_button_twitter,
.addthis_button_linkedin {
  display: block;
  float: left;
  height: 25px;
  text-indent: -9999px;
  width: 25px !important;
}

.addthis_button_facebook {
  background: url(../images/social-icons-blue.png) -59px -4px no-repeat;
  margin-right: 5px;
}

.addthis_button_twitter {
  background: url(../images/social-icons-blue.png) -14px -4px no-repeat;
  margin-right: 5px;
}

.addthis_button_linkedin {
  background: url(../images/social-icons-blue.png) -104px -4px no-repeat;
}

.article-crop-image {
  float: left;
  margin-right: 20px;
}
