.top-right {
  @include span-columns(3 of 12);
  float: right;
  @include omega();
  margin-left: 2.07715%;
  position: relative;
  overflow: hidden;
  margin-top: -3px;

  &:after {
    height: 2px;
    width: auto;
    overflow: hidden;
    background: #0095cd;
    display: block;
    content: "";
    margin-top: 11px;
    position: absolute;
    left: 0px;
    right: 0;
    top: 0;
    z-index: 0;
  }

  // Title
  h3 {
    color: $blue;
    text-transform: capitalize;
    background: $white;
    padding-right: 5px;
    z-index: 10;
    position: relative;
    display: inline-block;
    font-size: 14px;
    margin-left: -17px;
    padding-left: 17px;
  }


  .take-note-area {
    border-left: 2px solid $blue;
    padding-left: 20px;
  }

  img {
    margin-bottom: 15px;
    height: 125px;
    width: auto;
  }

  .item:last-child {

    img {
      margin-bottom: 0px;
    }
  }
}

.after-promo {
  margin-top: 25px;
  margin-bottom: 10px;
  @include span-columns(12 of 12);

  .item {
    @include span-columns(3 of 12);

    small {
      top: 110px !important;
      bottom: auto !important;
    }
  }
}

.after-promo,
.top-right {

  .item {
    position: relative;

    img {
      width: 100%;
      height: auto;
      max-width: none;
      margin-bottom: 10px;
    }

    em {
      width: 100%;
      height: 139px;
      -moz-transition: opacity 0.2s linear 0s, background-position 0s ease-out 0.3s;
      -webkit-transition: opacity 0.2s linear 0s, background-position 0s ease-out 0.3s;
      background: url(../graphics/promo-trans.png) repeat;
      background: none, rgba(0, 148, 202, 0.5);
      color: #fff;
      display: block;
      font-family: "TitilliumTextBold", helvetica, sans-serif;
      font-size: 12px;
      font-style: normal;
      left: 0;
      line-height: 14px;
      opacity: 0;
      padding: 10px;
      position: absolute;
      top: 0;
    }
    
    em.no-overlay {
      background: none;
    }

    small {
      background: #004155;
      color: #fff;
      display: block;
      font-family: "TitilliumTextXBold", helvetica, sans-serif;
      font-size: 10px;
      line-height: 10px;
      opacity: 0;
      padding: 6px 10px;
      position: absolute;
      right: 10px;
      text-transform: uppercase;
      bottom: 45px;
      z-index: 1;
    }

    &:hover {

      em,
      small {
        opacity: 1;
      }
    }
  }
}

.top-right em {
  width: 220px;
  height: 127px !important;
}

.top-right small {
  bottom: 10px !important;
}

.top-right em, .top-right small {
  opacity: 1 !important;
}

.promos em {
  width: 220px;
  height: 130px;
  -moz-transition: opacity 0.2s linear 0s, background-position 0s ease-out 0.3s;
  -webkit-transition: opacity 0.2s linear 0s, background-position 0s ease-out 0.3s;
  background: url(../graphics/promo-trans.png) repeat;
  background: none, rgba(0, 148, 202, 0.5);
  color: #fff;
  display: block;
  font-family: "TitilliumTextBold", helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  left: 0;
  line-height: 14px;
  opacity: 0;
  padding: 10px;
  position: absolute;
  top: 0;
}
