.menu-menu-quick-navigation {

  h3 {
    float: left;
    color: $blue;
    text-transform: capitalize;
    margin: 0px 5px 0 0;
    line-height: 13px;
  }

  li {
    float: left;
    margin-right: 5px;
    border-right: 1px solid $blue;
    padding-right: 5px;
    line-height: 14px;

    &:last-child {
      border-right: 0px;
    }
  }

  ul {
    margin-bottom: 20px;
  }
}