input.form-autocomplete,
input.form-text,
input.form-file,
textarea.form-textarea,
select.form-select {
  font-size: 1em;
}

table tr:hover th,
table tr:hover td {
  background: #f5f5f5;
}

#edit-type-wrapper {
  width: 160px;
}
