/*
line 242, line-height
line 260, line-height

*/

/**
 * Links.
 */
a {
  -moz-transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease 0s;
  color: #0094ca;
}

a:hover {
  color: #333;
  text-decoration: underline;
}

/**
 * Defaults.
 */
.meta {
  color: #888;
  font-family: "TitilliumTextMedium", helvetica, sans-serif;
  display: block;
  font-size: 10px;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.more-link {
  background: url(../images/arrow.png) center left no-repeat;
  display: inline-block;
  padding-left: 10px;
}

article .links li {
  font-weight: bold;
}

article figure,
article p {
  margin-bottom: 20px;
}

article figcaption {
  color: #888;
  font-family: "TitilliumTextMedium", helvetica, sans-serif;
  font-size: 10px;
  margin-top: 4px;
  text-align: right;
  text-transform: uppercase;
}

article img,
figure img {
  display: block;
  height: auto;
}

header[role="page"] figure img {
  margin: 0 auto;
}

.body blockquote {
  background: url(../images/quote.png) no-repeat left top;
  color: #888;
  font-family: "TitilliumTextMedium",helvetica,sans-serif;
  font-size: 16px;
  line-height: 22px;
  padding-left: 38px;
}

.body ol,
.body ul {
  margin-bottom:20px;
}

.body ol li,
.body ul li {
  display:list-item;
  margin:0 0 0 30px;
}

.body ol li {
  list-style:decimal;
}

.body ul li {
  list-style:disc;
}

#content .lead,
#content .kicker,
#content header[role="page"] h2 {
  color: #888;
  font-family: "TitilliumTextMedium", helvetica, sans-serif;
  font-size: 21px;
/*  line-height: 27px; */
}

#content .lead,
#content .kicker,
#content header[role="page"] h5 {
  color: #000;
  font-family: "TitilliumTextRegular", helvetica, sans-serif;
  font-size: 13px;
/*  line-height: 19px; */
}

#content .lead,
#content .kicker,
#content header[role="page"] p {
  color: #888;
  font-family: "TitilliumTextMedium", helvetica, sans-serif;
  font-size: 18px;
/*  line-height: 25px; */
}

#content .kicker {
  color: #444;
  display: inline;
  font-family: "TitilliumTextBold", helvetica, sans-serif;
  margin-right: 5px;
}

#content .lead {
  display: inline;
}

#main .lead {
  /*margin-bottom: 20px;*/
}

#content .node-author {
  border-top: 1px solid #DDDDDD;
  color: #888888;
  padding-top: 10px;
  float: left;
  width: 100%;
}

#content .node-author h3 {
  display: inline;
  text-transform: none;
}

#content header[role="page"] {
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

#content header[role="page"] .lead {
  margin-bottom: 20px;
}

#content header[role="page"] figure {
  margin-bottom: 20px;
}

#content footer[role="page"] {
  clear: both;
  padding-top: 20px;
}

/**
 * Layout.
 */
#content {
  background: #fff url(../images/shade.png) top left repeat-x;
  padding: 20px 0;
}

#highlight {
  background: #fff url(../images/shade.png) top left repeat-x;
  padding: 20px 0;
}

#main {
  float: left;
  width:620px;
}

#content aside {
  float: right;
  width: 300px;
}

/**
 * Superfish.
 */
.sf-js-enabled ul {
	position:	absolute;
	top: -999em;
	width: 100px;
}

.sf-js-enabled ul li {
	width: 100%;
}

.sf-js-enabled li:hover {
	visibility:	inherit;
}

.sf-js-enabled li:hover ul {
	left: 0;
	top: 43px;
	z-index: 99;
}

/**
 * Main menu drop down.
 */
#navigation nav li ul {
  background: #fff;
  box-shadow: 2px 4px 8px rgba(0, 65, 85, 0.4);
  opacity: 0.98;
  padding: 14px;
  width: 256px;
}

#navigation nav li li {
  border: 0;
}

#navigation nav li li a,
#navigation nav li li span.nolink {
  background: #fff;
  border: 0;
  color: #34768a;
  display: block;
  font-size: 12px;
  height: auto;
  padding: 6px 8px;
  text-transform: none;
  width: 240px;
}

#navigation nav li.hover li a {
  background: transparent;
  border-radius: 3px;
}

#navigation nav li.hover li a:hover {
  color: #004155;
  text-decoration: underline;
}

#navigation nav li.hover li span {
  background-image: none;
}

#navigation nav li li a:hover,
#navigation nav li li a.active-trail,
#navigation nav li li.hover a {
  text-shadow: none;
}

/**
 * Secondary menu.
 */
#header nav {
  float: right;
  margin-top: 16px;
}

#header nav li {
  float: left;
  line-height: 12px;
  margin-left: 10px;
}

#header nav li:first-child {
  margin: 0;
}

#header nav li a {
  color: #004155;
  font-family: "TitilliumTextBold", helvetica, sans-serif;
  font-size: 10px;
  text-transform: uppercase;
}

#header nav li a:hover {
  color: #004155;
}

/**
 * Search form.
 */
#search-block-form {
	-moz-transition: opacity 0.2s ease-in-out 0s;
	-webkit-transition: opacity 0.2s ease-in-out 0s;
	background: url(../images/search.png) no-repeat 0 2px;
	opacity: 0.4;
	padding-left: 21px;
}

#search-block-form:hover {
  opacity: 1;
}

#search-block-form input {
  background: transparent;
  border: 0;
  border-radius: 0;
	box-shadow: none;
	margin: 0;
	padding: 0;
}

#search-block-form input[type=search] {
	-moz-transition: width 0.2s ease-in-out 0s;
	-webkit-transition: width 0.2s ease-in-out 0s;
  border-bottom: 1px solid #004155;
	color: #004155;
  font-family: "TitilliumTextMedium", helvetica, sans-serif;
	font-size: 12px;
	height: 20px;
	text-transform: uppercase;
	vertical-align: middle;
	width: 210px;
}

#search-block-form input[type=search]:focus {
	text-transform: none;
  width: 230px;
}

#search-block-form input[type=submit] {
	background:  url(../images/search.png) no-repeat 0 0;
	display: none;
	height: 15px;
	margin-bottom: 8px;
	margin-left:6px;
	text-indent: -9999px;
	width: 15px;
}

/**
 * Aside.
 */
aside p.more {
  margin-top: 10px;
}

aside section h3 {
  margin-bottom: 10px;
}

aside section + section {
  margin-top: 30px;
}

/**
 * Aside menu.
 */
aside nav {
	margin-bottom: 20px;
}

aside nav li {
  margin: 0;
}

aside nav li a,
aside nav li span.nolink {
  background: #f2f6f8;
  border-radius: 1px;
  color: #004155;
  display: block;
  font-family: "TitilliumTextBold", helvetica, sans-serif;
  font-size: 11px;
  line-height: 15px;
  margin-top: 1px;
  padding: 10px 14px;
  text-transform: uppercase;
}

aside nav li a:hover {
  background: #e5eef2;
  color: #004155;
  text-decoration: none;
}

aside nav li a.active {
  color: #004155;
  font-family: "TitilliumTextBold", helvetica, sans-serif;
}

aside nav li a.active-trail,
aside nav li span.nolink.active-trail {
  background: #e5eef2;
}

aside nav li li a,
aside nav li li span.nolink {
  background: #e5eef2;
  border: 0;
  color: #566e82;
  font-family: "TitilliumTextMedium", helvetica, sans-serif;
	font-size: 11px;
	line-height: 14px;
	margin: 0;
	padding-left: 30px;
	padding-top: 0;
	text-transform: none;
}

aside nav li li a:hover {
  color: #004155;
}

aside nav li li:first-child a {
  padding-top: 0;
}

aside nav li li li a,
aside nav li li li span.nolink {
  padding-left: 50px;
}

aside nav li li li li a,
aside nav li li li li span.nolink {
  padding-left: 70px;
}

aside nav li li li li li a,
aside nav li li li li li span.nolink {
  padding-left: 90px;
}

aside nav li li li li li li a,
aside nav li li li li li li span.nolink {
  padding-left: 110px;
}

aside nav li li li li li li li a,
aside nav li li li li li li li span.nolink {
  padding-left: 130px;
}

aside nav li li.last a {
  padding-bottom: 12px;
}


/**
 * Aside content lists.
 */
aside li {
	margin-bottom: 4px;
}

aside li:last-child {
	margin: 0;
}

aside li a {
  display: inline-block;
  line-height: 18px;
}

aside li .meta {
  margin-bottom: 6px;
}

/**
 * Quote.
 */
.quote {
  border-top: 1px solid #ddd;
  font-family: "TitilliumTextMedium", helvetica, sans-serif;
  padding: 20px 220px;
  text-align: center;
  margin-top: 20px;
}

.quote blockquote {
  background: url(../images/quote.png) center top no-repeat;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 20px;
  margin-bottom: 10px;
  padding-top:34px;
  text-transform: uppercase;
}

.quote cite {
  color: #888;
  font-size: 12px;
}

aside .quote {
  border: 1px solid #ddd;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

aside .quote blockquote {
  font-size: 12px;
}

/**
 * Search results.
 */
.search-form {
  margin-bottom: 20px;
}

.search-form input {
  float: left;
  margin-right: 10px;
  padding: 7px;
}

.search-form .form-item,
.search-results h3 {
	margin:0;
}

.search-results cite {
	color:#999;
	margin:5px 0;
	display:block;
	font-style:normal;
}

.search-results li {
	border-top: 1px solid #ddd;
	margin-top: 20px;
	padding-top: 20px;
}

.search-results li:first-child {
  border: 0;
  margin: 0;
  padding: 0;
}

/**
 * Event information.
 */
.event-info .event-item {
  border-bottom: 1px dotted #ddd;
  clear: both;
  margin-bottom: 4px;
  overflow: hidden;
  padding-bottom: 2px;
}

.event-info strong,
.event-info span {
  display: block;
  float: left;
}

.event-info strong {
  color: #999;
  font-family: "TitilliumTextMedium",helvetica,sans-serif;
  font-size: 13px;
  font-weight: normal;
  width: 30%;
}

.event-info span {
  width: 70%;
}

.event-info .map {
  border: 1px solid #ddd;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  padding: 4px;
}

.event-info .map img {
  display: block;
}

/**
 * Related content.
 */
.related li {
  color: #0094ca;
  font-weight: bold;
  line-height: 14px;
  list-style-type: square;
  margin: 0 0 4px 13px;
}

/**
 * Promos.
 */
.promos {
  padding-top: 20px;
}

.promos article {
  float: left;
  margin-right: 20px;
  width: 220px;
}

.promos article:last-child {
  margin: 0;
}

.promos article h3 {
  margin: 0;
  text-transform: none;
}

.promos a {
  display: block;
  position: relative;
}

.promos a:hover {
  text-decoration: none;
}

.promos img {
  margin-bottom: 10px;
}

.promos em,
.promos small {
  -moz-transition: opacity 0.2s linear 0s, background-position 0s ease-out 0.3s;
  -webkit-transition: opacity 0.2s linear 0s, background-position 0s ease-out 0.3s;
}

.promos em {
  -moz-transition: opacity 0.2s linear 0s, background-position 0s ease-out 0.3s;
  -webkit-transition: opacity 0.2s linear 0s, background-position 0s ease-out 0.3s;
  background-color: rgba(0, 148, 202, 0.7);
  color: #fff;
  display: block;
  font-family: "TitilliumTextBold", helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  height: 110px;
  left: 0;
  line-height: 14px;
  opacity: 0;
  padding: 10px;
  position: absolute;
  top: 0;
  width: 200px;
}

.promos a:hover em {
  opacity: 1;
}

.promos small {
  background: #004155;
  color: #fff;
  display: block;
  font-family: "TitilliumTextXBold", helvetica, sans-serif;
  font-size: 10px;
  line-height: 10px;
  opacity: 0;
  padding: 6px 10px;
  position: absolute;
  right: 10px;
  text-transform: uppercase;
  top: 98px;
  z-index: 1;
}

.promos a:hover small {
  opacity: 1;
}

.promos small:hover {
  background: #bfe4f2;
  color: #004155;
}

/**
 * Slideshow.
 */
.slideshow {
  font-family: "TitilliumTextMedium", helvetica, sans-serif;
  position: relative;
}

.slideshow .slides {
  margin: 0 auto;
  position: relative;
  width: 940px;
}

.slideshow .image img {
  display: block;
}

.slideshow .text {
  top: 68px;
  position: absolute;
  left: 0;
}

.slideshow .text a {
  -moz-transition: all 0.2s linear 0s, background-position 0s ease-out 0.3s;
  -webkit-transition: all 0.2s linear 0s, background-position 0s ease-out 0.3s;
  background-color: rgba(0, 148, 202, 0.9);
  color: #fff;
  display: block;
  height: 130px;
  padding: 20px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  width: 540px;
}

.slideshow .text a:hover {
  background-color: rgba(0, 148, 202, 0.8);
  text-decoration: none;
}

.slideshow h1 {
  margin-bottom: 8px;
}

.slideshow p {
  font-family: "TitilliumTextBold", helvetica, sans-serif;
  font-size: 14px;
  opacity: 0.7;
}

.slideshow p.more {
  opacity: 1;
  margin-top: 12px;
}

/**
 * Slide pagination.
 */
.slide-pagination {
  background: #eee;
  overflow: hidden;
  margin: 0 auto;
  width: 940px;
}

.slide-pagination li a {
  border-right: 1px solid #fff;
  color: #666;
  display: block;
  float: left;
  font-family: "TitilliumTextBold", helvetica, sans-serif;
  font-size: 12px;
  line-height: 15px;
  padding: 10px 12px;
  text-align: center;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8);
  width: 132px;
}

.slide-pagination li:last-child a {
  border: 0;
  width: 131px;
}

.slide-pagination li a:hover {
  color: #0094ca;
  text-decoration: none;
}

.slide-pagination li.active a {
  background: #0094ca;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.slide-pagination li span {
  background: red url(../images/active-slide.png) 0 0 no-repeat;
  display: block;
  height: 9px;
  left: 50%;
  opacity: 0;
  position: absolute;
  top: -9px;
  width: 17px;
}

.slide-pagination li.active span {
  opacity: 1;
}

/**
 * Slide navigation.
 */
.slide-navigation li a {
  background: url(../images/slide-arrows.png) top right no-repeat;
  display: block;
  height: 56px;
  opacity: 1;
  outline: none;
  text-indent: -9999px;
  top: 130px;
  position: absolute;
  width: 33px;
  z-index: 10;
}

.slide-navigation li a:hover {
  opacity: 0.4;
}

.slide-navigation li.next a {
  right: 20px;
  position: absolute;
}

.slide-navigation li.prev a {
  background-position: top left;
  left: 20px;
  position: absolute;
}

/**
 * User pages.
 */
form small {
  color: #888;
  display: block;
  font-size: 11px;
  line-height: 14px;
  margin-top: 6px;
  width: 50%;
}

/**
 * Articles.
 */
.articles article,
.events article {
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
	overflow: hidden;
	padding-bottom: 20px;
}

.articles article:last-child,
.events article:last-child {
	border: 0;
	margin: 0;
	padding: 0;
}

.articles h2,
.events h2 {
  margin-bottom: 7px;
}

.articles .meta,
.events .meta {
	margin-bottom: 6px;
}

.articles .meta em,
.events .meta em {
  font-style: normal;
}

.articles figure,
.events figure {
	float: left;
	margin: 0 20px 0 0;
}

.articles p,
.events p {
  display: table;
	margin: 0;
}

.articles p.more,
.events p.more {
  margin-top: 8px;
}

/**
 * Featured article.
 */
.featured-article article.item {
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.featured-article figure {
  float: right;
  margin: 0 0 0 20px;
}

.featured-article h2 {
  font-family: "TitilliumTextRegular", helvetica, sans-serif;
  font-size: 30px;
	letter-spacing: -2px;
	line-height: 32px;
}

/**
 * Front page articles.
 */
.front .news {
  float: left;
  width: 620px;
}

.front .news em {
  margin-left: 6px;
}

.front .news .articles article:last-child {
  margin-bottom: 20px;
}

.front .news .featured-article article:last-child {
  margin: 0 0 20px;
}

/**
 * Front page teaser.
 */
.front .teaser {
  float: right;
  width: 303px;
  margin-bottom: 20px;
  line-height: 0px !important;
}

.front .teaser li {
  margin-bottom: 4px;
}

.front .teaser p {
  margin-bottom: 6px;
}

/**
 * Front page events.
 */
.front .events {
  float: right;
  width: 300px;
}

.front .events li {
  margin-bottom: 4px;
}

.front .events p {
  margin-bottom: 6px;
}

/**
 * Front page.
 */
.front #highlight {
  overflow: hidden;
  padding: 0;
}

.front #content {
  background-image: none;
}

.front .quote,
.front .promos {
  clear: both;
  overflow: hidden;
}

.front .promos {
  margin-bottom: 20px;
}

/**
 * Front page contact.
 */
.front .contact {
  border-top: 1px solid #ddd;
  margin-bottom: 20px;
  overflow: hidden;
  padding-top: 20px;
}

.contact .contact-info {
  background: #f9f7e8;
  float: left;
  height: 219px;
  padding: 20px;
  width: 420px;
}

.contact .contact-image {
  float: right;
  width: 460px;
}

.contact .contacts {
  margin-top: 20px;
}

/**
 * Attachments.
 */
.downloads {
  margin-bottom: 15px;
}

.downloads h5,
.field-share h5 {
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.downloads li {
  line-height: 18px;
}

.downloads li a {
  background: url(../images/download.png) 0 0 no-repeat;
  display: inline-block;
  font-weight: bold;
  line-height: 18px;
  padding-left: 22px;
}

.downloads li a:hover {
  background-position: 0 -28px;
}

.downloads li small {
  color: #bbb;
  display: inline;
  margin-left: 6px;
  font-size: 11px;
  text-transform: uppercase;
}

/**
 * Aggregator lists.
 */
.blog  {
  border-top: 1px solid #ddd;
  overflow: hidden;
  margin-bottom: 20px;
  padding-top: 20px;
}

.blog a,
.tweets a {
  display: inline;
}

.blog .meta,
.tweets .meta {
  margin: 6px 0 0;
}

.blog article  {
  -moz-transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease 0s;
  background: #e8f9ff;
  float: left;
  height: 94px;
  margin-right: 20px;
  padding: 20px;
  width: 180px;
}

.blog article:hover {
  background: #f1fbff;
}

.blog article:last-child {
  margin: 0;
}

.press .meta {
  margin: 0;
}

.press .item {
  border-bottom: 1px solid #DDDDDD;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

/**
 * Tweets.
 */
section.tweets {
  background: #dff2f7;
  padding: 20px;
}

section.tweets h3 {
  border: 0;
  padding: 0;
}

/**
 * Partners.
 */
.partners {
  border-top: 1px solid #ddd;
  margin-top: 20px;
  padding-top: 20px;
}

.partners li {
  border: 1px solid #ddd;
  float: left;
  margin-right: 10px;
  padding: 2px;
}

.partners li.col-first {
  margin-right: 8px;
}

.partners li.col-last {
  margin: 0;
}

.partners li img {
  display: block;
}

/**
 * Timeline.
 */
.timeline ul {
  height: 420px;
  width: 100%;
}

.timeline li {
  cursor: move;
  float: left;
  height: 210px;
  font-family: "TitilliumTextBold", helvetica, sans-serif;
  position: relative;
  width: 470px;
}

.timeline li.featured {
  height: 420px;
}

.timeline span {
  display: block;
}

/*
*
* Replaced by kmy 12-11-26
*
.timeline .text {
  background: #fff;
  bottom: 0;
  height: 170px;
  padding: 20px;
  position: absolute;
  right: 0;
  width: 195px;
}
*/

.timeline .text {
  /*background: #000;*/
  background:url('/sites/default/files/black-1x1.png');
  bottom: 0;
  height: 170px;
  padding: 20px;
  position: absolute;
  right: 0;
  width: 195px;
  /*opacity:0.1;
  filter:alpha(opacity=50);*/ /* For IE8 and earlier */
}

.timeline .text p, .timeline .text h2 {
  color: #fff;
}

.timeline img {
  max-width: 100%;
  height: 210px;
  width: 235px;
}

.timeline li.featured img {
  height: 100%;
  width: 100%;
}

.timeline p {
  color: #999;
  line-height: 16px;
  font-size: 12px;
}

.timeline h2 {
  font-size: 16px;
  line-height: 20px;
  margin: 8px 0 10px;
}

.timeline li.completed h2 {
  color: #97be0d;
}

.timeline .icon {
  background: url(../images/timeline-arrow.png) 0 0 no-repeat;
  height: 20px;
  position: absolute;
  left: -6px;
  top: 20px;
  width: 6px;
}

.timeline .date {
  font-size: 11px;
}

.timeline .status {
  color: #97be0d;
  display: inline-block;
  font-family: "TitilliumTextXbold", helvetica, sans-serif;
  font-size: 10px;
  position: absolute;
  right: 20px;
  text-transform: uppercase;
  top: 19px;
}

/**
 * Timeline navigation.
 */
.timeline-nav {
  background: #166986 url(../images/timeline-nav.png) bottom left repeat-x;
  height: 46px;
}

.timeline-nav ul {
  margin: 0 auto;
  width: 940px;
}

.timeline-nav li {
  display: block;
  float: left;
  font-family: "TitilliumTextBold", helvetica, sans-serif;
  font-size: 12px;
}

.timeline-nav li a {
  display: block;
  color: #bfe4f2;
  padding: 10px;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.timeline-nav li a:hover {
  background: rgba(0, 0, 0, 0.05);
  color: #fff;
  text-decoration: none;
}

.timeline-nav li a.active {
  background: rgba(0, 0, 0, 0.15);
  color: #fff;
}

.timeline-nav .ui-slider-handle {
  background: url(../images/handle.png) center center no-repeat;
  background: #eee;
  border: 1px solid #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  display: block;
  height: 12px;
  outline: none;
  position: absolute;
  text-align: center;
  top: 26px;
  z-index: 20;
}

/**
 * Phone book
 */
.view-filters {
  background-color: #F5F5F5;
  border: 1px solid #DDDDDD;
  padding: 10px 0 4px 15px;
  margin-bottom: 20px;
}
.views-exposed-widgets > div {
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin-right: 5px;
  vertical-align: baseline;
}
.views-exposed-widgets .views-submit-button {
  margin-top: 20px;
}
.phone-book table {
  border-top: none;
}
.phone-book thead {
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
}


/**
 * Topbar.
 */
.topbar {
  background: #252525;
  color: #bbb;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
  font-family: "TitilliumTextBold", helvetica, sans-serif;
  height: 40px;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
}

.topbar a {
  color: #bbb;
}

.topbar a:hover {
  color: #fff;
  text-decoration: none;
}

.topbar ul {
  float: left;
}

.topbar ul li {
  float: left;
  font-size: 12px;
  font-weight: bold;
  list-style: none;
}

.topbar ul li a {
  display: inline-block;
  line-height: 1;
  padding: 14px 10px 13px 10px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
}

.topbar nav.user-info {
  float: right;
}

body.logged-in {
  margin-top: 40px;
}
