* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'TitilliumTextLight';
  src: url("../fonts/titilliumtext22l002.eot");
  src: url("../fonts/titilliumtext22l002.eot?#iefix") format("embedded-opentype"), url("../fonts/titilliumtext22l002.woff") format("woff"), url("../fonts/titilliumtext22l002.ttf") format("truetype"), url("../fonts/titilliumtext22l002.svg#TitilliumTextLight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'TitilliumTextRegular';
  src: url("../fonts/titilliumtext22l003.eot");
  src: url("../fonts/titilliumtext22l003.eot?#iefix") format("embedded-opentype"), url("../fonts/titilliumtext22l003.woff") format("woff"), url("../fonts/titilliumtext22l003.ttf") format("truetype"), url("../fonts/titilliumtext22l003.svg#TitilliumTextRegular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'TitilliumTextMedium';
  src: url("../fonts/titilliumtext22l004.eot");
  src: url("../fonts/titilliumtext22l004.eot?#iefix") format("embedded-opentype"), url("../fonts/titilliumtext22l004.woff") format("woff"), url("../fonts/titilliumtext22l004.ttf") format("truetype"), url("../fonts/titilliumtext22l004.svg#TitilliumTextMedium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'TitilliumTextBold';
  src: url("../fonts/titilliumtext22l005.eot");
  src: url("../fonts/titilliumtext22l005.eot?#iefix") format("embedded-opentype"), url("../fonts/titilliumtext22l005.woff") format("woff"), url("../fonts/titilliumtext22l005.ttf") format("truetype"), url("../fonts/titilliumtext22l005.svg#TitilliumTextBold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'TitilliumTextXBold';
  src: url("../fonts/titilliumtext22l006.eot");
  src: url("../fonts/titilliumtext22l006.eot?#iefix") format("embedded-opentype"), url("../fonts/titilliumtext22l006.woff") format("woff"), url("../fonts/titilliumtext22l006.ttf") format("truetype"), url("../fonts/titilliumtext22l006.svg#TitilliumTextXBold") format("svg");
  font-weight: normal;
  font-style: normal; }
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #0094ca;
  display: block; }

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #333;
  text-decoration: none; }

/**
 * Typography.
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

h1 {
  font-size: 36px;
  letter-spacing: -2px;
  line-height: 40px;
  margin-bottom: 14px; }

h2 {
  font-size: 22px;
  letter-spacing: -1px;
  line-height: 24px;
  margin-bottom: 10px; }

h3 {
  font-size: 17px;
  line-height: 23px;
  margin-bottom: 10px; }

h4 {
  font-size: 16px;
  line-height: 20px; }

h5 {
  font-size: 14px;
  line-height: 18px; }

h6 {
  font-size: 13px; }

section h3 {
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 10px;
  text-transform: uppercase; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent; }

html {
  font-size: 62.5%;
  min-height: 100%; }

input,
form,
select,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-appearance: none;
  border-radius: 0px;
  border: 0px;
  outline: none; }

button,
input[type=submit] {
  border: 0px; }

body, select, input, textarea {
  color: #333;
  font-size: 13px;
  line-height: 19px; }

body {
  background: #fff;
  margin: 0 auto;
  font-family: "TitilliumTextMedium", helvetica, sans-serif; }

.wrap {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  width: 1000px; }
  .wrap:after {
    content: "";
    display: table;
    clear: both; }

#header,
#footer {
  min-width: 1000px; }

header[role="page"] {
  border-bottom: 0px !important; }

#main h1 {
  color: #0095cd; }

aside nav li a {
  background: #0095cd;
  color: #fff; }

.quote {
  background: #0095cd;
  color: #fff;
  box-shadow: none; }
  .quote cite {
    color: #fff; }

section.articles,
.related {
  position: relative;
  clear: both; }
  section.articles:before,
  .related:before {
    height: 2px;
    width: auto;
    overflow: hidden;
    background: #0095cd;
    display: block;
    content: "";
    margin-top: 11px;
    position: absolute;
    left: 0px;
    right: 0;
    top: 0;
    z-index: 0; }
  section.articles h3,
  .related h3 {
    color: #0095cd;
    text-transform: capitalize;
    background: #fff;
    padding-right: 5px;
    z-index: 10;
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    font-size: 14px; }

.related ul.row-2 {
  clear: left; }

.related li {
  list-style: none;
  margin: 0px;
  float: left;
  display: block;
  margin-right: 2.07715%;
  width: 31.94857%;
  float: left;
  margin-bottom: 50px; }
  .related li:last-child {
    margin-right: 0; }
  .related li:nth-child(3n) {
    margin-right: 0; }
  .related li a {
    font-size: 16px;
    letter-spacing: -1px;
    font-weight: normal;
    line-height: 20px; }
  .related li .meta {
    margin: 13px 0;
    font-weight: normal;
    color: #888;
    font-size: 10px;
    line-height: 10px;
    margin-bottom: 8px; }
  .related li p {
    font-size: 13px;
    line-height: 19px;
    color: #333;
    font-weight: normal; }
  .related li a {
    display: block; }
  .related li img {
    margin-bottom: 10px; }
  .related li div.cropped-image {
    margin-bottom: -6px; }

#main .lead {
  color: #888;
  font-family: "TitilliumTextMedium",helvetica,sans-serif;
  font-size: 16px;
  line-height: 22px; }
  #main .lead p {
    color: #888;
    font-family: "TitilliumTextMedium",helvetica,sans-serif;
    font-size: 18px; }
  #main .lead h3 {
    font-size: 17px;
    line-height: 23px;
    margin-bottom: 10px;
    text-transform: none; }
  #main .lead h4 {
    font-size: 16px;
    line-height: 20px;
    color: #888; }
  #main .lead h5 {
    color: #000;
    font-family: "TitilliumTextRegular",helvetica,sans-serif;
    font-size: 13px; }

aside nav li a.active-trail {
  color: #004155; }

.nav-item-wrapper {
  position: relative; }
  .nav-item-wrapper:hover {
    display: block; }

/**
 * Header.
 */
#header {
  background: #0095cd;
  height: 175px; }
  .front #header {
    background: url(../graphics/top-header.png) #0095cd no-repeat bottom center;
    height: 350px; }

#header h1 {
  float: left;
  margin: 0;
  text-indent: -9999px;
  margin-top: 12px; }

#header h1 a {
  background: url(../graphics/ess-logo.png) 0 0 no-repeat;
  display: block;
  height: 79px;
  width: 143px; }

#header form {
  float: right;
  margin-top: 70px; }

/**
 * Secondary menu
 */
#header .menu-secondary-menu {
  margin-top: 75px;
  margin-left: 10px; }
  #header .menu-secondary-menu a {
    color: #fff;
    margin: 0px;
    text-transform: capitalize; }
    #header .menu-secondary-menu a:hover {
      text-decoration: underline;
      color: #fff; }
  #header .menu-secondary-menu li:last-child a {
    margin-right: 0px; }

/**
 * Main menu.
 */
#navigation {
  position: absolute;
  top: 110px;
  left: 0;
  right: 0; }
  .logged-in #navigation {
    top: 150px; }
  .logged-in.admin-menu #navigation {
    top: 130px; }
  #navigation .sf-js-enabled {
    display: table;
    width: 100%; }
    #navigation .sf-js-enabled:after, #navigation .sf-js-enabled:before {
      content: none; }
    #navigation .sf-js-enabled .sf-js-enabled {
      width: auto; }
      #navigation .sf-js-enabled .sf-js-enabled:after, #navigation .sf-js-enabled .sf-js-enabled:before {
        content: ""; }

#navigation nav {
  clear: both; }

#navigation nav li {
  border-right: 1px solid #0095cd;
  display: table-cell;
  position: relative; }

#navigation nav li a,
#navigation nav li span.nolink {
  color: #fff;
  display: block;
  float: left;
  font-family: "TitilliumTextBold", helvetica, sans-serif;
  font-size: 13px;
  padding: 12px 0;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  background: #006a91;
  letter-spacing: 0px;
  width: 100%;
  text-align: center; }

#navigation nav li a:hover,
#navigation nav li a.active-trail,
#navigation nav li.hover a {
  background-color: #fff;
  text-shadow: none;
  position: relative;
  z-index: 100;
  color: #006a91; }

#navigation nav li li {
  display: block; }
  #navigation nav li li a, #navigation nav li li span.nolink {
    text-align: left; }

#navigation nav li.expanded span {
  background: transparent url(../images/nav-dropdown.png) center right no-repeat;
  display: block;
  padding-right: 12px; }

/**
 * Search form.
 */
#search-block-form {
  background: url(../graphics/search.png) no-repeat 0 2px;
  opacity: 0.4;
  padding-left: 21px; }

#search-block-form:hover {
  opacity: 1; }

#search-block-form input {
  -moz-transition: width 0s ease-in-out 0s;
  -webkit-transition: width 0s ease-in-out 0s;
  background: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  margin: 0;
  padding: 0; }

#search-block-form input[type=search] {
  -moz-transition: width 0s ease-in-out 0s;
  -webkit-transition: width 0s ease-in-out 0s;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-family: "TitilliumTextMedium", helvetica, sans-serif;
  font-size: 12px;
  height: 20px;
  text-transform: uppercase;
  vertical-align: middle;
  width: 210px; }

#search-block-form input[type=search]:focus {
  text-transform: none;
  width: 230px; }

#search-block-form input[type=submit] {
  background: url(../graphics/search.png) no-repeat 0 0;
  display: none;
  height: 15px;
  margin-bottom: 8px;
  margin-left: 6px;
  text-indent: -9999px;
  width: 15px; }

/**
 * Footer.
 */
#footer {
  background: #0095cd;
  color: #99b1ba;
  font-size: 11px;
  line-height: 18px; }
  #footer .no-contact {
    color: #fff; }
    #footer .no-contact .contact-image {
      display: none; }

#footer h3 {
  color: #fff;
  font-family: "TitilliumTextBold",helvetica,sans-serif;
  font-size: 16px;
  padding: 0;
  text-transform: none; }

#footer .wrap {
  padding: 20px 0;
  border-bottom: 1px solid #7bc0e7; }

#footer a, #footer p {
  color: #fff; }

/**
 * Footer links.
 */
.footer-links {
  background: #0095cd; }

.footer-links section {
  float: left;
  margin-right: 20px;
  float: left;
  display: block;
  margin-right: 2.07715%;
  width: 23.44214%; }
  .footer-links section:last-child {
    margin-right: 0; }

.footer-links section:nth-child(4) {
  margin: 0; }
  .footer-links section:nth-child(4) p {
    display: none; }
  .footer-links section:nth-child(4) h3:nth-child(3) {
    display: none; }

.footer-links nav {
  margin-bottom: 16px; }

.footer-links .career {
  background: rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center; }

.footer-links .more {
  margin-top: 10px; }

.footer-links .more a {
  color: #ff8700;
  font-family: "TitilliumTextBold",helvetica,sans-serif;
  text-transform: uppercase; }

/**
 * Footer closure.
 */
.footer-closure {
  padding: 35px 0 40px; }

#footer .footer-closure .wrap {
  background: url(../images/logo-footer.png) top left no-repeat;
  min-height: 54px;
  border-bottom: 0px;
  padding: 0px; }

.footer-closure p {
  float: left;
  margin: 16px 0 0 140px; }

.footer-closure .menu-footer {
  float: left;
  margin: 16px 0 0 30px; }

.footer-closure .menu-footer li {
  border-left: 1px solid #fff;
  float: left;
  margin-left: 8px;
  padding-left: 8px; }

.footer-closure .menu-footer li:first-child {
  border: 0;
  margin: 0;
  padding: 0; }

.footer-closure .menu-social {
  float: right;
  margin-top: 10px; }

.footer-closure .menu-social li {
  float: left;
  margin-left: 6px; }

.footer-closure .menu-social li a {
  background: url(../images/social-icons.png) 0 0 no-repeat;
  display: block;
  float: left;
  height: 24px;
  text-indent: -9999px;
  width: 24px; }

.footer-closure .menu-social li.follow-us-on-twitter a {
  background-position: 0 0; }

.footer-closure .menu-social li.join-us-on-facebook a {
  background-position: -34px 0; }

.footer-closure .menu-social li.connect-with-us-on-linkedin a {
  background-position: -68px 0; }

.footer-closure .menu-social li.find-press-releases-at-cisionwire a {
  background-position: -102px 0; }

.footer-closure .menu-social li.subscribe-to-our-rss-feeds a {
  background-position: -136px 0; }

.footer-links section.main-menu {
  width: 100%; }

.no-articles {
  display: block;
  float: left;
  width: 100%;
  position: relative;
  margin: 10px 0; }
  .no-articles:after {
    content: "";
    display: table;
    clear: both; }
  .no-articles#news {
    margin-top: 0; }
  .no-articles:after {
    height: 2px;
    width: auto;
    overflow: hidden;
    background: #0095cd;
    display: block;
    content: "";
    margin-top: 11px;
    position: absolute;
    left: 0px;
    right: 0;
    top: 0;
    z-index: 0; }
  .no-articles .articles {
    margin: 5px 0 0px 0;
    overflow: hidden; }
    .no-articles .articles figure {
      margin: 0px; }
  .no-articles .item {
    float: left;
    display: block;
    margin-right: 2.07715%;
    width: 23.44214%;
    border-bottom: 0px; }
    .no-articles .item:last-child {
      margin-right: 0; }
    .no-articles .item a {
      display: block;
      overflow: hidden; }
    .no-articles .item h2 {
      display: block; }
      .no-articles .item h2 a {
        display: inline; }
    .no-articles .item.no-image h2 {
      display: block;
      margin-top: 160px; }
    .no-articles .item.no-image p.more {
      margin-bottom: 10px; }
  .no-articles img {
    margin-bottom: 10px;
    max-width: none;
    width: 100%;
    height: auto; }
  .no-articles h3 {
    color: #0095cd;
    text-transform: capitalize;
    background: white;
    position: relative;
    z-index: 100;
    display: inline-block;
    padding-right: 5px;
    font-size: 14px; }

.no-front-articles {
  overflow: hidden;
  width: auto; }
  .no-front-articles .item {
    overflow: hidden; }

.kicker-field {
  display: inline;
  margin: 0px;
  font-size: 16px;
  margin-right: 5px;
  line-height: 22px;
  color: #444;
  font-family: "TitilliumTextBold", helvetica, sans-serif; }

.kicker-field-small {
  line-height: 14px;
  margin-right: 2px; }

.front .featured-article .featured-image {
  float: right;
  margin: 0 0 0 20px; }
.front .featured-article .image {
  overflow: hidden;
  width: 340px;
  display: block; }
  .front .featured-article .image img {
    max-width: none;
    height: 100%;
    width: auto; }
.front .featured-article h2 {
  margin-top: -2px; }
.front .featured-article article.item {
  border-bottom: 0px;
  padding-bottom: 0px;
  color: #000;
  overflow: hidden;
  position: relative; }
  .front .featured-article article.item p.body {
    color: #333; }
  .front .featured-article article.item .more {
    float: right;
    bottom: 1px;
    position: absolute;
    left: 310px;
    margin-bottom: 0px; }
  .front .featured-article article.item p.lead {
    font-size: 16px !important;
    line-height: 22px; }
    .front .featured-article article.item p.lead.more {
      font-size: 13px;
      line-height: 19px; }

.not-front .featured-article article.item {
  margin-bottom: 40px !important;
  position: relative; }
.not-front .featured-article .more {
  float: right;
  width: 62px; }
  .not-front .featured-article .more a {
    position: absolute;
    bottom: 16px; }

.articles .more {
  float: right; }

section#main .body {
  margin-top: 20px; }

.article .field-image {
  margin-bottom: 20px; }
  .article .field-image img {
    width: 100%; }

.downloads {
  float: left;
  width: 100%; }

.article .downloads {
  max-width: 520px; }

section#main section.boxes-social-sidebar {
  float: right;
  margin-top: -2px;
  margin-bottom: 30px; }
section#main .social_sidebar_label {
  text-align: right; }

section.boxes-social-sidebar {
  margin-top: 160px; }

.field-share {
  float: right;
  margin-bottom: 15px; }

.field-share h5 {
  margin-left: 2px; }

.social_sidebar_label {
  margin-bottom: 8px; }

.addthis_button_facebook,
.addthis_button_twitter,
.addthis_button_linkedin {
  display: block;
  float: left;
  height: 25px;
  text-indent: -9999px;
  width: 25px !important; }

.addthis_button_facebook {
  background: url(../images/social-icons-blue.png) -59px -4px no-repeat;
  margin-right: 5px; }

.addthis_button_twitter {
  background: url(../images/social-icons-blue.png) -14px -4px no-repeat;
  margin-right: 5px; }

.addthis_button_linkedin {
  background: url(../images/social-icons-blue.png) -104px -4px no-repeat; }

.article-crop-image {
  float: left;
  margin-right: 20px; }

.top-right {
  float: left;
  display: block;
  margin-right: 2.07715%;
  width: 23.44214%;
  float: right;
  margin-right: 0;
  margin-left: 2.07715%;
  position: relative;
  overflow: hidden;
  margin-top: -3px; }
  .top-right:last-child {
    margin-right: 0; }
  .top-right:after {
    height: 2px;
    width: auto;
    overflow: hidden;
    background: #0095cd;
    display: block;
    content: "";
    margin-top: 11px;
    position: absolute;
    left: 0px;
    right: 0;
    top: 0;
    z-index: 0; }
  .top-right h3 {
    color: #0095cd;
    text-transform: capitalize;
    background: #fff;
    padding-right: 5px;
    z-index: 10;
    position: relative;
    display: inline-block;
    font-size: 14px;
    margin-left: -17px;
    padding-left: 17px; }
  .top-right .take-note-area {
    border-left: 2px solid #0095cd;
    padding-left: 20px; }
  .top-right img {
    margin-bottom: 15px;
    height: 125px;
    width: auto; }
  .top-right .item:last-child img {
    margin-bottom: 0px; }

.after-promo {
  margin-top: 25px;
  margin-bottom: 10px;
  float: left;
  display: block;
  margin-right: 2.07715%;
  width: 100%; }
  .after-promo:last-child {
    margin-right: 0; }
  .after-promo .item {
    float: left;
    display: block;
    margin-right: 2.07715%;
    width: 23.44214%; }
    .after-promo .item:last-child {
      margin-right: 0; }
    .after-promo .item small {
      top: 110px !important;
      bottom: auto !important; }

.after-promo .item,
.top-right .item {
  position: relative; }
  .after-promo .item img,
  .top-right .item img {
    width: 100%;
    height: auto;
    max-width: none;
    margin-bottom: 10px; }
  .after-promo .item em,
  .top-right .item em {
    width: 100%;
    height: 139px;
    -moz-transition: opacity 0.2s linear 0s, background-position 0s ease-out 0.3s;
    -webkit-transition: opacity 0.2s linear 0s, background-position 0s ease-out 0.3s;
    background: url(../graphics/promo-trans.png) repeat;
    background: none, rgba(0, 148, 202, 0.5);
    color: #fff;
    display: block;
    font-family: "TitilliumTextBold", helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    left: 0;
    line-height: 14px;
    opacity: 0;
    padding: 10px;
    position: absolute;
    top: 0; }
  .after-promo .item em.no-overlay,
  .top-right .item em.no-overlay {
    background: none; }
  .after-promo .item small,
  .top-right .item small {
    background: #004155;
    color: #fff;
    display: block;
    font-family: "TitilliumTextXBold", helvetica, sans-serif;
    font-size: 10px;
    line-height: 10px;
    opacity: 0;
    padding: 6px 10px;
    position: absolute;
    right: 10px;
    text-transform: uppercase;
    bottom: 45px;
    z-index: 1; }
  .after-promo .item:hover em,
  .after-promo .item:hover small,
  .top-right .item:hover em,
  .top-right .item:hover small {
    opacity: 1; }

.top-right em {
  width: 220px;
  height: 127px !important; }

.top-right small {
  bottom: 10px !important; }

.top-right em, .top-right small {
  opacity: 1 !important; }

.promos em {
  width: 220px;
  height: 130px;
  -moz-transition: opacity 0.2s linear 0s, background-position 0s ease-out 0.3s;
  -webkit-transition: opacity 0.2s linear 0s, background-position 0s ease-out 0.3s;
  background: url(../graphics/promo-trans.png) repeat;
  background: none, rgba(0, 148, 202, 0.5);
  color: #fff;
  display: block;
  font-family: "TitilliumTextBold", helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  left: 0;
  line-height: 14px;
  opacity: 0;
  padding: 10px;
  position: absolute;
  top: 0; }

.no-front-events,
.front-download {
  float: left;
  display: block;
  margin-right: 2.07715%;
  width: 48.96142%;
  margin-bottom: 20px; }
  .no-front-events:last-child,
  .front-download:last-child {
    margin-right: 0; }
  .no-front-events h3,
  .front-download h3 {
    font-size: 18px;
    color: #0095cd;
    text-transform: capitalize; }
  .no-front-events ul,
  .front-download ul {
    margin-left: 10px;
    margin-bottom: 7px; }
  .no-front-events p,
  .front-download p {
    margin-bottom: 5px;
    color: #000;
    font-size: 11px; }

.front-download {
  margin-right: 0; }
  .front-download a {
    margin-right: 5px;
    max-width: 390px;
    display: block;
    float: left;
    word-wrap: break-word;
    margin-bottom: 10px; }
  .front-download small {
    line-height: 22px;
    font-size: 12px;
    float: left; }
  .front-download .item {
    overflow: hidden; }

.no-front-events,
.front-download {
  position: relative; }
  .no-front-events:after,
  .front-download:after {
    height: 2px;
    width: auto;
    overflow: hidden;
    background: #0095cd;
    display: block;
    content: "";
    margin-top: 11px;
    position: absolute;
    left: 0px;
    right: 0;
    top: 0;
    z-index: 0; }
  .no-front-events .front-download:after,
  .front-download .front-download:after {
    display: none;
    content: none; }
  .no-front-events h3,
  .front-download h3 {
    color: #0095cd;
    text-transform: capitalize;
    background: #fff;
    padding-right: 5px;
    z-index: 10;
    position: relative;
    display: inline-block;
    font-size: 14px; }
  .no-front-events .items,
  .no-front-events .front-download,
  .front-download .items,
  .front-download .front-download {
    width: 100%; }
    .no-front-events .items h3,
    .no-front-events .front-download h3,
    .front-download .items h3,
    .front-download .front-download h3 {
      font-size: 18px;
      margin-bottom: 5px;
      margin-top: 10px; }

.menu-menu-quick-navigation h3 {
  float: left;
  color: #0095cd;
  text-transform: capitalize;
  margin: 0px 5px 0 0;
  line-height: 13px; }
.menu-menu-quick-navigation li {
  float: left;
  margin-right: 5px;
  border-right: 1px solid #0095cd;
  padding-right: 5px;
  line-height: 14px; }
  .menu-menu-quick-navigation li:last-child {
    border-right: 0px; }
.menu-menu-quick-navigation ul {
  margin-bottom: 20px; }

.featured-article .meta {
  margin: 11px 0; }

section.node-title h3 {
  display: none; }

.in-kind-docs-intro.lead,
.in-kind-docs-agreement,
.in-kind-docs-annex,
.in-kind-docs-processes {
  border-bottom: 1px solid #ccc;
  display: block !important;
  margin-bottom: 20px;
  overflow: auto; }

.in-kind-docs-intro.lead,
.in-kind-docs-agreement {
  padding-bottom: 20px; }

.in-kind-docs-annex {
  padding-bottom: 20px; }

.in-kind-docs-annex-footer {
  clear: left;
  font-size: 14px;
  margin-bottom: 15px;
  text-transform: uppercase; }

.in-kind-docs-agreement .views-field-title,
.in-kind-docs-annex .views-field-title {
  padding-top: 5px; }

.in-kind-docs-agreement .in-kind-doc-title,
.in-kind-docs-annex .in-kind-doc-title {
  font-size: 1.5em; }

.in-kind-docs-agreement h3,
.in-kind-docs-annex h3,
.in-kind-docs-processes h3,
.in-kind-docs-templates h3 {
  padding-bottom: 5px;
  text-transform: none; }

.in-kind-doc-large-thumb,
.in-kind-doc-small-thumb {
  float: left;
  margin-right: 15px; }

.in-kind-doc-large-thumb img,
.in-kind-doc-small-thumb img {
  opacity: 0.7;
  border: 1px solid; }

.in-kind-doc-large-thumb img:hover,
.in-kind-doc-small-thumb img:hover {
  opacity: 1; }

.in-kind-docs-metadata {
  color: #888;
  font-size: 10px;
  text-transform: uppercase; }

section.in-kind-docs-processes .col-1,
section.in-kind-docs-processes .col-2,
section.in-kind-docs-processes .col-3,
section.in-kind-docs-templates .col-1,
section.in-kind-docs-templates .col-2,
section.in-kind-docs-templates .col-3 {
  float: left;
  height: 110px;
  width: 47%;
  margin-bottom: 20px; }

section.in-kind-docs-processes .col-1,
section.in-kind-docs-templates .col-1 {
  margin-right: 30px; }

.in-kind-docs-conduct {
  float: left;
  margin: 15px 0; }
