/**
 * Base.
 */
html {
  font-size: 100%;
  -webkit-text-size-adjust: none;
}

/**
 * Links.
 */
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:hover, a:active {
  outline: none;
}

/**
 * Lists.
 */
ul, ol {
  list-style: none;
  list-style-image: none;
}

/**
 * Embedded content.
 */
img {
  border: 0;
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}

/**
 * Figures.
 */
figure {
  margin: 0;
}

/**
 * Tables.
 */
table {
  border-top: 1px solid #ddd;
  margin-bottom: 20px;
  width: 100%;
}

table th,
table td {
  line-height: 18px;
  padding: 8px;
  text-align: left;
  vertical-align: middle;
}

table th {
  font-weight: bold;
}

table td {
  border-bottom: 1px solid #ddd;
}

/**
 * Forms.
 */
fieldset {
  margin-bottom: 10px;
}

legend {
  display: block;
  font-weight: bold;
}

label {
  display: block;
  margin-bottom: 2px;
  font-weight: bold;
}

label.option {
  display: inline;
  font-weight: normal;
}

label,
input[type=button],
input[type=submit] {
  cursor: pointer;
}

input,
textarea,
select,
submit {
  display: inline-block;
  border: 1px solid #ccc;
  line-height: 16px;
  padding: 6px;
  vertical-align: baseline;
}

select,
input[type=file] {
  height: 27px;
	padding: 5px;
}

select[multiple] {
  height: inherit;
}

textarea {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;
  height: auto;
  width: 100%;
}

input[type="checkbox"],
input[type="radio"] {
  line-height: normal;
  margin: 0;
  padding: 0;
}

input[type="button"],
input[type="reset"],
input[type="submit"] {
  width: auto;
}

input,
textarea {
  -moz-transition: border 0.1s linear 0s, box-shadow 0.1s linear 0s;
  -webkit-transition: border 0.1s linear 0s, box-shadow 0.1s linear 0s;
}

input:focus,
textarea:focus {
  border-color: #56b4ef;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) inset, 0 0 8px rgba(82, 168, 236, 0.4);
  color: #000;
  outline: 0;
}

input[type=file]:focus,
input[type=checkbox]:focus,
select:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: 1px dotted #666;
}

a.button,
input[type=submit] {
	background-color: #0094ca;
	border: 0;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "TitilliumTextXbold", helvetica, sans-serif;
  height: 30px;
  line-height: normal;
  padding: 8px 18px;
  text-decoration: none;
  text-shadow: 1px 1px 1px #00749f;
  text-transform: uppercase;
}

a.button:hover,
input[type=submit]:hover {
	background-color: #00749f;
}

input[type="search"] {
	-webkit-appearance: none;
	-webkit-box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.form-item {
  margin-bottom: 10px;
}

/**
 * Tab navigation.
 */
ul.tabs {
  border-bottom: 1px solid #ddd;
	font-size: 14px;
	margin-bottom: 20px;
  padding-bottom: 10px;
}

ul.tabs li {
  float: left;
  margin-right: 4px;
}

ul.tabs li a {
  border-radius: 4px;
  color: #aaa;
  display: block;
  font-weight: bold;
  float: left;
  line-height: 28px;
  padding: 0 11px;
  text-decoration: none;
}

ul.tabs li a:hover,
ul.tabs li a.active {
  background: #eee;
  color: #333;
}

ul.tabs ul {
  border: 0;
	float: left;
  margin: 0;
}

/**
 * Pager.
 */
.item-list .pager {
  clear: both;
  margin-top: 20px;
  text-align: right;
}

.item-list .pager li {
  display: inline-block;
  padding: 0;
}

.item-list .pager li a {
	text-decoration: none;
}

.item-list .pager-current {
  color: #000;
  font-weight: normal;
}

/**
 * Messages.
 */
div.messages {
  border-radius: 3px;
  padding: 10px 14px;
  margin: 0 0 20px 0;
  background-image: none;
}
