// Import neat helpers - this gives us visual grid which can be useful, also
// gives us media mixin which is useful when making responsive layouts.
@import "../assets/neat/app/assets/stylesheets/neat-helpers";

// Our grid variables
$grid-columns: 12;
$column: 65px;
$gutter: 21px;
$max-width: 1000px;

// Base font-size and line-height
$base-font-size: 1.6;
$base-line-height: 1.5;

// Visual grid that can be used if neat helpers is activated
// $visual-grid : true;
// $visual-grid-color: #e0eef7;

$blue: #0095cd;
$white: #fff;
$dark-blue: #006a91;
$white-footer: #7bc0e7;
