// Import Bourbon mixin lib
@import "../assets/bourbon/dist/bourbon";

// Import our variables, mixins & helpers
@import "variables", "mixins", "helpers";

// Neat should be imported after variable, reset and mixin declaration.
// Otherwise neat overrides our variables.
@import "../assets/neat/app/assets/stylesheets/neat";

@import "typography";

// General resets
// Remove subpixels from webkit browsers and FF
// Remove tap highlight color for webkit touch browsers.
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// Set HTML to 62.5% to make it easier setting REM/EM values
// Now it calculates from 10 instead of regular 16.
// Example 1rem = 10px
html {
  font-size: 62.5%;
  min-height: 100%;
}

// Remove subpixels from webkit browsers and FF
// Remove webkit standard input, form, select & button styling on smartdevices
input,
form,
select,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-appearance: none;
  border-radius: 0px;
  border: 0px;
  outline: none;
}

// Remove standard border on button & input on smart devices
button,
input[type=submit] {
  border: 0px;
}

body, select, input, textarea {
  color: #333;
  font-size: 13px;
  line-height: 19px;
}

body {
  background: #fff;
  margin: 0 auto;
  font-family: "TitilliumTextMedium", helvetica, sans-serif;
}

.wrap {
  @include outer-container();
  width: 1000px; // Remove when responsive behaviour is to be coded.
}

#header,
#footer {
  min-width: 1000px;
}

header[role="page"] {
  border-bottom: 0px !important;
}

#main {

  h1 {
    color: $blue;
  }
}

aside nav li a {
  background: $blue;
  color: $white;
}

.quote {
  background: $blue;
  color: $white;
  box-shadow: none;

  cite {
    color: $white;
  }
}

section.articles,
.related {
  position: relative;
  clear: both;

  &:before {
    height: 2px;
    width: auto;
    overflow: hidden;
    background: #0095cd;
    display: block;
    content: "";
    margin-top: 11px;
    position: absolute;
    left: 0px;
    right: 0;
    top: 0;
    z-index: 0;
  }

  h3 {
    color: $blue;
    text-transform: capitalize;
    background: $white;
    padding-right: 5px;
    z-index: 10;
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    font-size: 14px;
  }
}

.related ul.row-2 {
  clear: left;
}

.related li {
  list-style: none;
  margin: 0px;
  @include span-columns(4 of 12);
  float: left;
  margin-bottom: 50px;

  &:nth-child(3n) {
    @include omega();
  }

  a {
    font-size: 16px;
    letter-spacing: -1px;
    font-weight: normal;
    line-height: 20px;
  }

  .meta {
    margin: 13px 0;
    font-weight: normal;
    color: #888;
    font-size: 10px;
    line-height: 10px;
    margin-bottom: 8px;
  }

  p {
    font-size: 13px;
    line-height: 19px;
    color: #333;
    font-weight: normal;
  }

  a {
    display: block;
  }

  img {
    margin-bottom: 10px;
  }

  div.cropped-image {
    margin-bottom: -6px;
  }
}

#main {

  .lead {
    color: #888;
    font-family: "TitilliumTextMedium",helvetica,sans-serif;
    font-size: 16px;
    line-height: 22px;

    p {
      color: #888;
      font-family: "TitilliumTextMedium",helvetica,sans-serif;
      font-size: 18px;
    }

    h3 {
      font-size: 17px;
      line-height: 23px;
      margin-bottom: 10px;
      text-transform: none;
    }

    h4 {
      font-size: 16px;
      line-height: 20px;
      color: #888;
    }

    h5 {
      color: #000;
      font-family: "TitilliumTextRegular",helvetica,sans-serif;
      font-size: 13px;
    }
  }
}

aside nav li a.active-trail {
  color: #004155;
}

.nav-item-wrapper {
  position: relative;

  &:hover {
    display: block;
  }
}

@import "elements/_header.scss", "elements/_footer.scss", "elements/no-article", "elements/promos", "elements/events", "elements/quick-navigation", "elements/frontpage", "elements/pages", "elements/documents";
