@font-face {
  font-family: 'TitilliumTextLight';
  src: url('../fonts/titilliumtext22l002.eot');
  src: url('../fonts/titilliumtext22l002.eot?#iefix') format('embedded-opentype'),
       url('../fonts/titilliumtext22l002.woff') format('woff'),
       url('../fonts/titilliumtext22l002.ttf') format('truetype'),
       url('../fonts/titilliumtext22l002.svg#TitilliumTextLight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TitilliumTextRegular';
  src: url('../fonts/titilliumtext22l003.eot');
  src: url('../fonts/titilliumtext22l003.eot?#iefix') format('embedded-opentype'),
       url('../fonts/titilliumtext22l003.woff') format('woff'),
       url('../fonts/titilliumtext22l003.ttf') format('truetype'),
       url('../fonts/titilliumtext22l003.svg#TitilliumTextRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TitilliumTextMedium';
  src: url('../fonts/titilliumtext22l004.eot');
  src: url('../fonts/titilliumtext22l004.eot?#iefix') format('embedded-opentype'),
       url('../fonts/titilliumtext22l004.woff') format('woff'),
       url('../fonts/titilliumtext22l004.ttf') format('truetype'),
       url('../fonts/titilliumtext22l004.svg#TitilliumTextMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TitilliumTextBold';
  src: url('../fonts/titilliumtext22l005.eot');
  src: url('../fonts/titilliumtext22l005.eot?#iefix') format('embedded-opentype'),
       url('../fonts/titilliumtext22l005.woff') format('woff'),
       url('../fonts/titilliumtext22l005.ttf') format('truetype'),
       url('../fonts/titilliumtext22l005.svg#TitilliumTextBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TitilliumTextXBold';
  src: url('../fonts/titilliumtext22l006.eot');
  src: url('../fonts/titilliumtext22l006.eot?#iefix') format('embedded-opentype'),
       url('../fonts/titilliumtext22l006.woff') format('woff'),
       url('../fonts/titilliumtext22l006.ttf') format('truetype'),
       url('../fonts/titilliumtext22l006.svg#TitilliumTextXBold') format('svg');
  font-weight: normal;
  font-style: normal;
}


h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #0094ca;
  display: block;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #333;
  text-decoration: none;
}

/**
 * Typography.
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1 {
  font-size: 36px;
  letter-spacing: -2px;
  line-height: 40px;
  margin-bottom: 14px;
}

h2 {
  font-size: 22px;
  letter-spacing: -1px;
  line-height: 24px;
  margin-bottom: 10px;
}

h3 {
  font-size: 17px;
  line-height: 23px;
  margin-bottom: 10px;
}

h4 {
  font-size: 16px;
  line-height: 20px;
}

h5 {
  font-size: 14px;
  line-height: 18px;
}

h6 {
  font-size: 13px;
}

section h3 {
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}